

body {
	background-color: #fcfff9;
}


header {
	margin: 10px auto;
	background-color: #005a66;
	border: 1px solid  #005a66;
	box-shadow: 0 0 10px #f4a70c;
    text-align: center;
    font-size: 10px; 
    font-family: 'Quicksand', sans-serif;
    border-radius: 0px;
 
    
}

nav, ul {
    text-align: center;
    list-style-type: none;
    color: #fcfff9;
   
       
}


header img, .headings {
	display: inline-block;
	vertical-align: middle;
    margin: 5px;
    color: #fcfff9;
    font-size: 30px;
    font-style: normal;
    
}

.motto {
    font-size: 15px;
    font-style: italic;
   

}
   
 
.navclass > ul {
    background:  #f4a70c;
    color:#fcfff9;
    font-size: 20px;
    text-decoration: none;
    
   
    
}

.navclass > ul > li{
    text-decoration: none;
    display:inline-block;
    padding: 0px 20px;
    margin: 10px;

}
