

body {
	background-color: #f4a70c;
}


header {
	margin: 10px auto;
	background-color: #005a66;
	border: 1px solid  #005a66;
	box-shadow: 0 0 30px #f4a70c;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    
}


header img, .headings {
	display: inline-block;
	vertical-align: middle;
    margin: 10px;
    color: #fcfff9;
    font-size: 40px;
}

.motto {

    font-size: 25px;
    font-style: italic;
    
    

}