

body {
	background-color: #fcfff9;
}


header {
    width: 100%;
	margin: 10px auto;
	background-color: #005a66;
	border: 1px solid  #005a66;

    text-align: center;
    font-size: 40px; 
    font-family: 'Quicksand', sans-serif;
    border-radius: 0px;
 
    
}

nav, ul {
    text-align: center;
    list-style-type: none;
    color: #fcfff9;
   
       
}


header img, .headings {
  
    width: 200px;
	display: inline-block;
	vertical-align: middle;
    margin: 5px;
    color: #fcfff9;
    font-size:30px;
    font-style: normal;
    text-align: center;
   
   
    
}


.motto {
    font-size: 12px;
    font-style: italic;
    margin-top: -40px;
    padding-left: -10px;
     

}
   
 
.navclass > ul {
    background:  #005a66;
    color:#fcfff9;
    font-size: 20px;
    box-shadow: 0 0 10px  #f4a70c;
    font-family: 'Quicksand', sans-serif;
    
}


.navclass > ul > li {
   
    display: inline-block;
    
     
    
}
.navclass li a { 
    color: #fcfff9;
    text-decoration: none;
    padding: 5px;
    
  
}

.navclass a:hover {
    color: #f4a70c; 
    font-weight: bolder;
 
}


li a:hover:not(.active) {
    background-color: #f4a70c;
    color: #005a66;
}
    
    .active {
    background-color:  #f4a70c;
  
}

main {
    max-width:820px;
    margin:0 auto;
}
h2 {
    text-align: center;
    font-size:2rem;
}

.herodiv {
    margin: 10px auto;
    position: relative;
}

.stats {
	position: absolute;
	top: 25px;
	right: 50px;
	background: radial-gradient(#eee, #fcf125);
	border:1px solid #fcf125;
	padding:1.5rem;
    box-shadow:0 0 30px #fcf125;
    opacity: 0.8;
    font-family: 'Quicksand', sans-serif;

   
}

article {

    width: 960px;
    color: #fcfff9;
    background: #f4a70c;
    text-align: left;
    font-size: 
}

img {width: 960px;}



/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
    .navclass li:first-child { display: none;	}
      .navclass li {
           display: inline-block; 
        margin-right: 1rem;}	
      .navclass li a { color:#fcfff9;}
  }

